{% extends 'layout.html.twig' %}

 {% block page_title %} Accueil {% endblock %}

 {% block title_page_block %}frfr{% endblock %}

{% block content %}gtgt{% endblock %}

{#{% block titlecontent %}Accueil{% endblock %}#}

{#{% block titlepage %}#}
    {#<li><a href=""><i class="fa fa-dashboard"></i> Accueil</a></li>#}
    {#<li><a href="" class="active">Profile</a></li>#}
{#{% endblock %}#}

{#{% block body %}#}
    {#FRFRFR#}
{#{% endblock %}#}
