<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {% block site_title %} Emergence |{% endblock %}
                {% block page_title %} {% endblock %}
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block javascripts_final %}{% endblock %}
    </body>
</html>
